<div class="center hero-unit">
	<h1>Popy App</h1>
	<h2>Ceci est la page d'accueil de l'application 
	    <a href="http://secret-river-9267.herokuapp.com/">Popy App</a>
	  Exemple d'application
	</h2>
	<%= link_to "Sign up now!", signup_path, :class => "btn btn-primary btn-large"%>
</div>
